@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #181818;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  height: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);  
  z-index: 500;
  transition: all .2s ease-in-out;
}

header.sticky {
  background-color: #fff;
}

#logo {
  width: 120px;
  position: relative;
  top: -1em;
  left: 2em;
  transition: left .3s ease-out;
}

#nav-list {
  display: flex;
  float: right;
  position: relative;
  top: .8em;
  right: 29em;
  list-style: none;
  transition: right .3s ease-out;
}

.nav-a {
  margin-right: 50px;
  text-decoration: none;
  color: #181818;
  font-size: 20px;
  font-weight: 500;
  transition: color .2s;
}

#cart-button {
  position: absolute;
  display: flex;
  top: 1.8em;
  right: 2em;
  width: 3em;
  height: 3em;
  transition: all .3s;
  cursor: pointer;
}

#cart-num {
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: red;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-25%, -10%);
  z-index: 96;
}

.page-overlay {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background-color: #00000075;
    z-index: 888;
}

.no-overlay {
  left: -100%;
}

.cart-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  padding: .5em;
  background-color: #fff;
  height: 100%;
  width: 30em;
  transition: all 0.4s ease;
}

.closed-cart {
  right: -100%;
}

.open-cart {
  right: 0;
}

#cart-header {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 2px solid #181818;
}

#x {
  position: relative;
  left: 6.5em;
  cursor: pointer;
}

#cart-h2 {
  position: relative;
  left: 1em;
}

#cart-content hr {
  display: block;
  border: none;
  height: 2px;
  background-color: #181818;
  margin-top: 1.8em;
}

#nav-list a:hover {
  color: #1644cc;
}


/* MOBILE NAV */
#hamburger {
  position: relative;
  top: -7.45em;
  margin: 0 auto;
  display: none;
  width: 43px;
  height: 38px;
  appearance: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10010;
}

#hamburger .bar, #hamburger::after, #hamburger::before {
  content: '';
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #18181a;
  margin: 5px 0px;
  transition: all .3s;
}

#hamburger.is-active::before {
  transform: rotate(-45deg) translate(-10px, 7.8px);
}

#hamburger.is-active::after {
  transform: rotate(45deg) translate(-7px, -6px);
}

#hamburger.is-active .bar {
  opacity: 0;
}

#mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: #fff;
  padding-top: 120px;
  transition: .4s;
}

#mobile-nav.is-active-info {
  left: 0;
}

#mobile-nav-links {
  list-style: none;
  position: relative;
  margin: 0 auto;
  top: 1.6em;
  right: 1.3em;
}

#mobile-nav li {
  display: block;
  text-align: center;
  max-width: 200px;
  padding: 12px 16px;
  background-color: black;
  border-radius: 6px;
  color: #fff;
  font-size: 22px;
  letter-spacing: .7px;
  margin: 0px auto 35px auto;
}



#landing-bg {
  background-image: url(./content/images/cloud-1.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.29;
}

#landing-hero {
  position: relative;
  height: 37.6em;
}

#title {
  position: relative;
  top: 2em;
  left: 1.5em;
  font-size: 60px;
  width: 8em;
  letter-spacing: 2px;
  animation-name: title-an;
  animation-duration: 1.5s;
}

@keyframes title-an {
  from {
    left: -2em;
    opacity: 0;
  }
  to {
    left: 1.5em;
    opacity: 1;
  }
}

#title span {
  text-transform: uppercase;
  background: linear-gradient(to right, #1644cc, #61b0fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#short-desc {
  position: relative;
  top: 6.5em;
  left: 6em;
  width: 25em;
  background-color: #61b0fb3a;
  border-radius: 12px;
  animation-name: button-p-an;
  animation-duration: 1.5s;
}

#short-desc p {
  position: relative;
  padding: .6em 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: .7px;
}

#landing-con {
  position: relative;
  top: 7.2em;
  left: 6em;
  width: 9em;
  height: 3.8em;
  background: #1644cc;
  border: none;
  box-shadow: -4px 6px 0px 0px #61b0fb;
  border-radius: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  transition: all .2s;
  cursor: pointer;
  animation-name: button-p-an;
  animation-duration: 1.5s;
}

@keyframes button-p-an {
  from {
    left: -2em;
    opacity: 0;
  }
  to {
    left: 6em;
    opacity: 1;
  }
}

#landing-con:active {
  box-shadow: none;
  transform:translate(-4px, 5px);
}

#plane {
  position: relative;
  float: right;
  right: 3em;
  bottom: 7.2em;
  width: 43em;
  rotate: 10deg;
  animation-name: plane-an;
  animation-duration: 1.5s;
}

@keyframes plane-an {
  from {
    right: -2em;
    opacity: 0;
  }
  to {
    right: 3em;
    opacity: 1;
  }
}



#brief-hero {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 82%;
  height: 10em;
  margin: 0 auto;
  animation-name: brief-an;
  animation-duration: 1.5s;
}

@keyframes brief-an {
  from {
    left: -3em;
    opacity: 0;
  }
  to {
    left: 0em;
    opacity: 1;
  }
}

.icons {
  position: relative;
  top: 14px;
  border-radius: 12px;
  padding: 1.5em 1.6em;
  background-color: #1644cc;
}

.desc-box h3 {
  position: relative;
  right: 1em;
  top: -.3em;
  font-size: 23px;
}

.desc-box p {
  position: relative;
  top: -2em;
  right: 1.3em;
  width: 210px;
  line-height: 21px;
}


/* MAIN */
main {
  height: fit-content;
  background: linear-gradient(to bottom, #e7f4ff,
  #fff);
  box-shadow: 0px -10px 10px 0px #e7f4ff;
}

#main-h1 {
  position: relative;
  top: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 6px;
}

#collection {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 38px;
  position: relative;
  top: 11em;
  width: 82%;
  min-height: 300px;
  height: 620px;
  margin: 0 auto;
  overflow: hidden;
}

#filter-btns {
  position: relative;
  text-align: center;
  top: 5em;
  width: 82%;
  height: 0px;  
  margin: 0 auto;
}

.dropdown {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDExIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjI2MzA2IDYuNzU4NjlMMC44MTI2NTkgMi4zMDgyN0MwLjU5ODAyIDIuMDkzNjMgMC41OTgwMiAxLjc0NTY0IDAuODEyNjU5IDEuNTMxMDNMMS4zMzE3MyAxLjAxMTk2QzEuNTQ2IDAuNzk3Njg2IDEuODkzMjcgMC43OTcyNzQgMi4xMDgwNSAxLjAxMTA0TDUuNjUxNjkgNC41MzgwOEw5LjE5NTMxIDEuMDExMDRDOS40MTAwOSAwLjc5NzI3NCA5Ljc1NzM2IDAuNzk3Njg2IDkuOTcxNjMgMS4wMTE5NkwxMC40OTA3IDEuNTMxMDNDMTAuNzA1MyAxLjc0NTY3IDEwLjcwNTMgMi4wOTM2NSAxMC40OTA3IDIuMzA4MjdMNi4wNDAzMiA2Ljc1ODY5QzUuODI1NjggNi45NzMzMSA1LjQ3NzcgNi45NzMzMSA1LjI2MzA2IDYuNzU4NjlaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 8.5em;
  padding: 0 8px;
  margin-right: 2.5em;
  letter-spacing: 1px;
  border: 3px solid transparent;
  border-radius: 12px;
  background-color: #61b0fb85;
  color: #181818;
  font-weight: 600;
  font-size: 17px;
  outline: none;
  transition: border .2s ease-out;
}

.dropdown:hover {
  border: 3px solid #1644cc;
}

.dropdown:focus {
  border: 3px solid #1644cc;
}

hr{
  height: 5px;
}

.plane-card {
  width: 15em;
  color: #181818;
}

.link {
  text-decoration: none;
}

.plane-img {
  width: 15em;
  height: 9.85em;
  background-color: #61b0fb3a;
  border-radius: 12px;
}

.plane-type {
  font-size: 23px;
  letter-spacing: .8px;
  margin-top: 0px;
  position: relative;
  top: 13px;
  text-align: center;
}

.plane-brand {
  text-align: center;
  margin-top: -12px;
  font-size: 17px;
  font-weight: 400;
}

.plane-price {
  text-align: center;
  font-size: 25px;
  margin-top: -7px;
}

.plane-desc {
  width: 100%; 
  margin-top: -4px;
}

.plane-card:hover {
  color: #1644cc;
}

#all-h3 {
  position: relative;
  top: 9em;
  width: 5em;
  left: 47%;
  text-decoration: underline;
}

#all-h3:hover {
  text-decoration: none;
  cursor: pointer;
}


/* DESCRIPTION */
#description {
  display: flex;
  position: relative;
  top: 14em;
  width: 82%;
  height: 480px;
  background-color: #61b0fb3a;
  margin: 0 auto;
  border-radius: 22px;
}

#desc-img {
  width: 52%;
}

#plane-2 {
  width: 35em;
  height: 21em;
  position: relative;
  top: 4.8em;
  rotate: -12deg;
}

#para-desc { 
  width: 50%;
}

#para-desc-h1 {
  position: relative;
  top: .5em;
  left: .9em;
  font-size: 40px;
  letter-spacing: 1.3px;
}

.qa-res {
  text-transform: uppercase;
  background: linear-gradient(to right, #1644cc, #61b0fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: normal;
}

#para-desc-p {
  position: relative;
  top: 1.16em;
  left: 2.4em;
  font-size: 18px;
  width: 24em;
}

#para-desc button {
  position: relative;
  top: 4em;
  left: 5em;
  width: 9.5em;
  height: 4.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border: 4px solid #1644cc;
  border-radius: 12px;
  cursor: pointer;
}

#primary-btn {
  color: #fff;
  background-color: #1644cc;
  transition: all .2s ease-out;
}

#secondary-btn {
  margin-left: 2em;
  color: #1644cc;
  background-color: transparent;
  transition: all .2s ease-out;
}

#cloud-1 {
  position: absolute;
  height: 11em;
  width: 20em;
  left: 0;
}

#cloud-2 {
  position: absolute;
  top: 19em;
  left: 17em;
  height: 10.5em;
  width: 19em;
}


/* BRIEF RATING */
#brief-rating {
  position: relative;
  display: flex;
  justify-content: space-around;
  top: 18.5em;
  height: 220px;
  width: 90%;
  margin: 0 auto;
  border-radius: 150px 10px 150px 10px;
  background-color: #1644cc;
  z-index: 10;
}

.pre-circ {
  margin-top: 1.5em;
  background-color: #7fc1ff;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.pre-circ h1 {
  position: relative;
  top: 1.05em;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

.pre-txt {
  position: relative;
  top: .1em;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.sold-circ {
  margin-left: 1.3em;
}

.sold-txt {
  margin-left: 10px;
}

.years-circ {
  margin-left: 1.3em;
}

.years-txt {
  position: relative;
  right: 1.4em;
}


/* TOP SELLERS */
#best-sell {
  position: relative;
  top: 17em;
  background-color: #e7f4ff;
  width: 100%;
  height: 33em;
  box-shadow: 0px 0px 16px 3px #e7f4ff;
  z-index: 5;
}

#best-h1 {
  position: relative;
  top: 1.5em;
  font-size: 35px;
  letter-spacing: .7px;
  text-transform: uppercase;
  text-align: center;
}

#best-planes {
  display: flex;
  gap: 35px;
  position: relative;
  top: 4.5em;
  overflow-y: hidden;
  overflow-x: auto;
  width: 80%;
  margin: 0 auto;
}


/* TESTIMONIALS */
.testimonials {
  position: relative;
  top: 17em;
  height: 610px;
  width: 100%;
  background: radial-gradient(circle at 50% 55%, #a1d1ff,#fff);
  overflow: hidden;
}

.test-h3 {
  position: relative;
  top: 1.2em;
  text-align: center;
}

.cl-say-h1 {
  position: relative;
  top: .3em;
  font-size: 35px;
  text-align: center;
}

.clients {
  position: relative;
  bottom: 9em;
}

.main-pic {
  position: relative;
  top: 14.5em;
  width: 105px;
  height: 105px;
  padding: 10px;
  border: 3px solid #1644cc; 
  border-radius: 100px;
  margin: 0 auto;
}

.main-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.client-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.clients-text {
  position: relative;
  top: .5em;
  right: 6.7em;
  text-align: center;
  width: 20em;
}

.client-name {
  position: relative;
  right: 1.75em;
  width: 9em;
  text-align: center;
}

.sec-pic {
  position: relative;
  left: 15.5em;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.trd-pic {
  position: relative;
  top: 9em;
  left: 12.5em;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.frth-pic {
  position: relative;
  bottom: 9em;
  right: 16.5em;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.fth-pic {
  position: relative;
  top: 5.5em;
  right: 7.5em;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

/* SWIPER */
.swiper-button-next {
  right: 4em;
}

.swiper-button-prev {
 left: 4em;
}

.swiper-pagination {
  margin-bottom: 1em;
}

#partners-hero {
  height: 190px;
}

#partners-h1 {
  position: relative;
  top: 8.8em;
  text-align: center;
  font-size: 30px;
}

#all-partners {
  display: flex;
  justify-content: space-around;
}

.p-img {
  aspect-ratio: 3/2.5;
  position: relative;
  top: 16.7em;
  width: 110px;
  object-fit: contain;
  opacity: .6;
  transition: opacity .3s ease;
}

.p-img:hover {
  opacity: 1;
}


/* NEWSLETTER */
#newsletter {
  position: relative;
  top: 15.2em;
  height: 310px;
  width: 100%;
  background-color: #1644cc;
}

#news-h1 {
  position: relative;
  top: 1.2em;
  color: #fff;
  text-align: center;
  font-size: 35px;
  letter-spacing: .8px;
}

#sub-container {
  display: flex;
  position: relative;
  top: 4em;
  height: 4em;
  width: 30em;
  background-color: #61b0fb;
  margin: 0 auto;
  border-radius: 12px;
}

#sub-container input {
  margin-top: .3em;
  height: 80%;
  width: 66.3%;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  padding-left: .7em;
  border-radius: 12px 0px 0px 12px;
  border: none;
  border-right: 2px dashed;
}

input::placeholder {
  color: #fff;
}

input:focus {
  outline: none;
}

#inp-btn {
  position: relative;
  top: .4em;
  height: 3.1em;
  width: 8em;
  text-transform: uppercase;
  background-color: #1644cc;
  border-radius: 9px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .7px;
  margin: 0 auto;
  cursor: pointer;
}

#inp-btn:hover {
  background-color: #1c54ff;
}


/* FOOTER */
footer {
  display: flex;
  position: relative;
  top: 15.2em;
  background-color: #181818;
  color: #fff;
  height: 400px;
}

#foo-logo {
  position: relative;
  bottom: 3em;
  left: 3em;
}

#foo-container {
  display: flex;
}

.foo-txt {
  position: relative;
  top: 5em;
  left: 12em;
  height: 15em;
  margin-right: 8em;
}


/* PLANE PAGE */
#plane-page {
  display: flex;
  position: relative;
  top: 6.5em;
  margin: 0 auto;
  width: 90%;
  height: 410px;
}

#image-container {
  width: 50%;
}

#plane-page-img {
  position: relative;
  border-radius: 14px;
  height: 100%;
  width: 98%;
  object-fit: contain;
}

#description-container {
  width: 50%;
  border-radius: 14px;
  background-color: #61b0fb3a;
}

#desc-content {
  position: relative;
  left: 1.6em;
}

#plane-page-h1 {
  text-transform: uppercase;
  letter-spacing: .7px;
  margin-bottom: -.5em;
}

#plane-page-h2 {
  font-size: 28px;
}

#plane-page-h3 {
  position: relative;
  top: .7em;
  color: #1644cc;
}

#plane-page-Mp {
  width: 75%;
}

#plane-page-ul {
  margin-top: -1.3em;
  margin-left: -1.2em;
}

#plane-page-ul span {
  color: #1644cc;
  font-weight: bold;
}

#plane-page-ul li {
  line-height: 20px;
  font-size: 17px;
}

::marker {
  color: #1644cc;
  font-size: 24px;
}

.plane-btn {
  position: relative;
  left: 12.5em;
  bottom: 4em;
  width: 9em;
  height: 3em;
  border: 3px solid #1644cc;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
}

.plane-page-primaryB {
  background-color: #1644cc;
  color: #fff;
  margin-right: 1em;
  transition: all .2s ease;
}

.plane-page-secondB {
  background-color: transparent;
  color: #1644cc;
  transition: all .2s ease;
}

/* Alternatives */
#plane-page-alt {
  position: relative;
  top: 9em;
  width: 90%;
  margin: 0 auto;
  margin-bottom: -3em;
}

#plane-page-alt h2 {
  margin-left: 1em;
}

#alt-container {
  position: relative;
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
  background-color: #8bc7ff3a;
  height: 315px;
  border-radius: 12px;
}


/* AIRBUS */
#title-hero {
  margin-bottom: 5em;
}

#plane-background {
  background: url(./content/images/depositphotos.jpg);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-size: cover;
  background-position: center;
  height: 280px;
  position: relative;
  top: 5.7em;
  z-index: -2;
}

#air-bo-title {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  z-index: 2;
}

.about-airbo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 15px;
  position: relative;
  top: 14em;
  height: 500px;
  width: 82%;
  margin: 0 auto;
}

.m-ab-airbo {
  background-color: #61b0fb6b;
  grid-row: 1/3;
  padding: 0em 1.5em;
  border-radius: 15px;
}

.ab-airbo-h3 {
  color: #1644cc;
}

.ab-airbo-h1 {
  font-size: 40px;
  width: 90%;
}

.ab-airbo-h1 span {
  background: linear-gradient(to right, #1644cc, #61b0fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.ab-airbo-p {
  position: relative;
  top: 2em;
}

.picture-ab-airbo {
  background-size: cover;
  border-radius: 15px;
}

.air-ba {
  background-image: url(./content/images/a350-1000_british_airways_msn326_vtp_fitting_-_overview_copy.jpg);
}

.bo-ba {
  background-image: url(./content/images/boeing-manifacturing.jpg);
  background-position: center;
}

.stats-airbo {
  display: grid;
  grid-template: 85px 85px / 1fr 1fr;
  background-color: #61b0fb6b;
  border-radius: 15px;
  gap: 10px;
  padding: 1em;
}

.stats-airbo div {
  background-color: #61b0fb;
  border-radius: 12px;
  line-height: 12px;
  padding-left: 17px
}

.stats-airbo div > h2 {
  font-size: 30px;
}

/* CART ITEMS */
#container-body {
  height: 90vh;
}

#added-container {
  display: flex;
  flex-direction: column;
  height: 67%;
  width: 100%;
  overflow-x: scroll;
}

#cart-plane {
  display: flex;
  height: 138px;
  width: 28em;
  margin: 5px;
  border: 3px solid #181818;
}

#cart-plane-img {
  height: 100%;
  width: 40%;
  object-fit: contain;
}

#cart-plane-desc {
  position: relative;
  left: 2px;
  width: 38%;
  line-height: 20px;
}

#cart-plane-price {
  font-size: 140%;  
}

#cart-remove {
  position: relative;
  float: right;
  left: 1.2em;
  background-color: transparent;
  width: 17%;
  border-left: 3px solid;
  transition: .2s background-color ease;
  cursor: pointer;
}

#cart-remove:hover {
  background-color: red;
}

#cart-remove h1 {
  text-align: center;
  margin-top: 2.1em;
  cursor: pointer;
}

#total-price {
  width: 100%;
  height: 33%;
  border-top: 2px dashed #181818; 
  margin: 5px;
}

.total-price-h2 {
  position: relative;
  left: .5em;
  top: 6px;
  line-height: 18px;
}

.shipping-h4 {
  color: #1644cc;
}

.cart-price {
  font-size: 28px;
}

#checkout {
  position: relative;
  right: .5em;
  bottom: 5.7em;
  height: 2.5em;
  width: 10em;
  float: right;
  font-size: 20px;
  background-color: #1644cc;
  color: #fff;
  border: 3px solid #1644cc;
  transition: all .2s ease;
}

#checkout:hover {
  background-color: #fff;
  color: #1644cc;
}


/* RESPONSIVE DESIGN */
@media screen and (max-width: 1024px) {
  /* Nav */
  #nav-list {
    right: 20em;
  }
  
  /* Landing Home */
  #landing-bg {
    height: 600px;
  }

  #landing-hero {
    height: 540px;
  }
 
  #title {
    font-size: 50px;
    left: 2em;
  }

  #short-desc {
    width: 21em;
    font-size: 15px;
    left: 7em;
    top: 5.5em;
  }
  
  #plane {
    width: 33em;
    top: -3em;
  }

  #landing-con {
    top: 6em;
  }


  /* Brief Desc */
  #brief-hero {
    height: 200px;
    right: 1em;
  }

  .icons {
    top: 4.5em;
    padding: 1.4em 2em;
  }

  .desc-box {
    position: relative;
    left: 2.2em;
    top: 3.8em;
    margin-right: 2em;
  }

  .desc-box h3 {
    line-height: 25px;
    margin-bottom: 30px;
  }

  
  #collection {
    left: 1.3em;
  }

  /* Description Hero */
  #plane-2 {
    top: 7em;
    width: 25em;
    height: 17em;
  }

  #cloud-1 {
    width: 13em;
  }

  #cloud-2 {
    width: 13em;
    left: 13em;
  }

  #para-desc {
    position: relative;
    right: 2.5em;
  }

  #para-desc-h1 {
    font-size: 37px;
  }

  #para-desc-p {
    width: 21em;
  }


  /* Airbus */
  #air-bo-title {
    top: 14.5em;
  }

  .about-airbo {
    height: 525px;
  }

  .ab-airbo-h1 {
    position: relative;
    top: -10px;
    font-size: 35px;
  }

  .ab-airbo-p {
    top: -1em;
  }


  /* Plane Page */
  .plane-btn {
    display: block;
    bottom: 7.5em;
    left: 14.5em;
  }

  .plane-page-primaryB {
    margin-right: 0em;
    margin-bottom: .5em;
  }

  #alt-container {
    overflow-x: scroll;
    gap: 20px;
    padding: 20px 20px 0px 20px;
  }

  .foo-txt {
    left: 5em;
  }
}


/* TABLET SIZE */
@media screen and (max-width: 768px) {
  #nav-list {
    display: none;
  }

  #hamburger {
    display: block;
  }

  #landing-bg {
    height: 47em;
  }
  
  #landing-hero {
    top: 6.5em;
    height: 43.5em;
  }

  #title {
    margin: 0 auto;
    text-align: center;
    left: 0em;
  }

  #short-desc {
    top: 7.5em;
    left: 0em;
    margin: 0 auto;
    text-align: center;
  }

  #landing-con {
    left: 14.5em;
    top: 7.2em;
  }

  #plane {
    display: none;
  }


  #brief-hero {
    height: 18.5em;
  }

  .icons {
    position: relative;
    left: 5em;
    top: 6.5em;      
  }

  .desc-box h3 {
    top: 5em;
    left: -1.7em;
    right: 0em;
    text-align: center;
    font-size: 25px;
  }

  .desc-box p {
    display: none;
  }

  #collection {
    left: 3em;
  }


  #description {
    display: block;
    height: 52.5em;
  }

  #desc-img {
    width: 100%;
  }

  #plane-2 {
    top: 3em;
    left: 2em;
    height: 22em;
    width: 35em;
  }

  #cloud-1 {
    left: 2em;
  }

  #cloud-2 {
    left: 23.5em;
  }

  #para-desc {
    top: 4em;
    width: 100%;
    text-align: center;
  }

  #para-desc-p {
    top: 0em;
    margin: 0 auto;
  }

  #para-desc button {
    top: 2em;
    left: 43px;
  }


  #brief-rating {
    height: 44em;
    width: 30em;
    flex-direction: column;
  }

  .pre-div {
    margin: 0 auto;
  }

  .sold-circ {
    margin-left: 1.4em;
  }

  .sold-txt {
    margin-left: 8px;
  }

  .years-circ {
    margin-left: 4em;
  }

  .years-txt {
    right: 0em;
  }


  /* TESTIMONIALS */
  .client-image {
    display: none;
  }


  #foo-container {
    display: none;
  }


  /* AIRBUS */
  .about-airbo {
    grid-template-rows: 3fr 2fr;
    height: 600px;
  }
  
  .m-ab-airbo {
    grid-row: 1/2;
    grid-column: 1/3;
  }  

  .stats-airbo {
    grid-template: 95px 95px / 1fr 1fr;
  }
}
