@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #181818;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  height: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);  
  z-index: 500;
  transition: all .2s ease-in-out;
}

header.sticky {
  background-color: #cee7ff;
}

#logo {
  width: 120px;
  position: relative;
  top: -1em;
  left: 2em;
  transition: left .3s ease-out;
}

#nav-list {
  display: flex;
  float: right;
  position: relative;
  top: .8em;
  right: 29em;
  list-style: none;
  transition: right .3s ease-out;
}

.nav-a {
  margin-right: 50px;
  text-decoration: none;
  color: #181818;
  font-size: 20px;
  font-weight: 500;
  transition: color .2s;
}

#basket {
  position: relative;
  float: right;
  top: 1.8em;
  left: 19.5em;
  transition: all .3s;
}

#nav-list a:hover {
  color: #1644cc;
}

#landing-hero {
  position: relative;
  height: 37.6em;
  background: linear-gradient(to bottom, #fff, #e7f4ff);
  box-shadow: 0px 10px 10px 0px #e7f4ff;
}

#title {
  position: relative;
  top: 2em;
  left: 1.5em;
  font-size: 60px;
  width: 8em;
  letter-spacing: 2px;
  animation-name: title-an;
  animation-duration: 1.5s;
}

@keyframes title-an {
  from {
    left: -2em;
    opacity: 0;
  }
  to {
    left: 1.5em;
    opacity: 1;
  }
}

#title span {
  text-transform: uppercase;
  background: linear-gradient(to right, #1644cc, #61b0fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#short-desc {
  position: relative;
  top: 7.5em;
  left: 6em;
  width: 25em;
  background-color: #61b0fb3a;
  border-radius: 12px;
  animation-name: button-p-an;
  animation-duration: 1.5s;
}

#short-desc p {
  position: relative;
  padding: .6em 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: .7px;
}

#landing-con {
  position: relative;
  top: 8.2em;
  left: 6em;
  width: 9em;
  height: 3.8em;
  background: #1644cc;
  border: none;
  box-shadow: -4px 6px 0px 0px #61b0fb;
  border-radius: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: all .2s;
  cursor: pointer;
  animation-name: button-p-an;
  animation-duration: 1.5s;
}

@keyframes button-p-an {
  from {
    left: -2em;
    opacity: 0;
  }
  to {
    left: 6em;
    opacity: 1;
  }
}

#landing-con:active {
  box-shadow: none;
  transform:translate(-4px, 5px);
}

#plane {
  position: relative;
  float: right;
  right: 3em;
  bottom: 6em;
  width: 43em;
  rotate: 10deg;
  animation-name: plane-an;
  animation-duration: 1.5s;
}

@keyframes plane-an {
  from {
    right: -2em;
    opacity: 0;
  }
  to {
    right: 3em;
    opacity: 1;
  }
}



#brief-hero {
  display: flex;
  position: relative;
  width: 82%;
  height: 10em;
  margin: 0 auto;
  animation-name: brief-an;
  animation-duration: 1.5s;
}

@keyframes brief-an {
  from {
    left: -3em;
    opacity: 0;
  }
  to {
    left: 0em;
    opacity: 1;
  }
}

.icons {
  position: relative;
  top: 14px;
  border-radius: 12px;
  padding: 1.5em 1.6em;
  background-color: #1644cc;
}

.desc-box h3 {
  position: relative;
  left: .7em;
  top: -.3em;
  font-size: 23px;
}

.desc-box p {
  position: relative;
  top: -2em;
  left: 1em;
  width: 210px;
  line-height: 21px;
}

.support {
  position: relative;
  left: 5.5em;
}

.sup {
  position: relative;
  left: 5.5em;
}

.delivery {
  position: relative;
  left: 11.5em;
}
.del {
  position: relative;
  left: 11.5em;
}


/* MAIN */
main {
  height: fit-content;
  background: linear-gradient(to bottom, #e7f4ff,
  #fff);
  box-shadow: 0px -10px 10px 0px #e7f4ff;
}

#main-h1 {
  position: relative;
  top: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 6px;
}

#collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: 5em;
  width: 82%;
  height: 640px;
  margin: 0 auto;
}

.plane-card {
  width: 15em;
  color: #181818;
}

.link {
  text-decoration: none;
}

.plane-img {
  width: 15em;
  height: 9.85em;
  background-color: #61b0fb3a;
  border-radius: 12px;
}

.plane-type {
  font-size: 23px;
  letter-spacing: .8px;
  margin-top: 0px;
  position: relative;
  top: 13px;
  text-align: center;
}

.plane-brand {
  text-align: center;
  margin-top: -12px;
  font-size: 17px;
  font-weight: 400;
}

.plane-price {
  text-align: center;
  font-size: 25px;
  margin-top: -4px;
}

.plane-desc {
  width: 100%; 
  margin-top: -4px;
}

#all-h3 {
  position: absolute;
  top: 33em;
  left: 47%;
  text-decoration: underline;
}

#all-h3:hover {
  text-decoration: none;
  cursor: pointer;
}


/* DESCRIPTION */
#description {
  display: flex;
  position: relative;
  top: 12em;
  width: 82%;
  height: 480px;
  background-color: #61b0fb3a;
  margin: 0 auto;
  border-radius: 22px;
}

#plane-2 {
  width: 35em;
  height: 21em;
  position: relative;
  top: 4.8em;
  rotate: -12deg;
}

#para-desc { 
  width: 50%;
}

#para-desc-h1 {
  position: relative;
  top: .5em;
  left: .9em;
  font-size: 40px;
  letter-spacing: 1.3px;
}

.qa-res {
  text-transform: uppercase;
  background: linear-gradient(to right, #1644cc, #61b0fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: normal;
}

#para-desc-p {
  position: relative;
  top: 1.16em;
  left: 2.4em;
  font-size: 18px;
  width: 24em;
}

#para-desc button {
  position: relative;
  top: 4em;
  left: 5em;
  width: 9.5em;
  height: 4.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border: 4px solid #1644cc;
  border-radius: 12px;
  cursor: pointer;
}

#primary-btn {
  color: #fff;
  background-color: #1644cc;
  transition: all .2s ease-out;
}

#secondary-btn {
  margin-left: 2em;
  color: #1644cc;
  background-color: transparent;
  transition: all .2s ease-out;
}

#cloud-1 {
  position: absolute;
  height: 11em;
  width: 20em;
}

#cloud-2 {
  position: absolute;
  top: 19em;
  left: 17em;
  height: 10.5em;
  width: 19em;
}


/* TOP SELLERS */
#best-sell {
  position: relative;
  top: 17em;
  background-color: #e7f4ff;
  width: 100%;
  height: 33em;
  box-shadow: 0px 0px 16px 3px #e7f4ff;
  z-index: 5;
}

#best-h1 {
  position: relative;
  top: 1.5em;
  font-size: 35px;
  letter-spacing: .7px;
  text-transform: uppercase;
  text-align: center;
}

#best-planes {
  display: flex;
  gap: 35px;
  position: relative;
  top: 4.5em;
  overflow-y: hidden;
  overflow-x: auto;
  width: 80%;
  margin: 0 auto;
}


/* TESTIMONIALS */
.testimonials {
  position: relative;
  top: 17em;
  height: 610px;
  width: 100%;
  background: radial-gradient(circle at 50% 55%, #a1d1ff,#fff);
  overflow: hidden;
}

.test-h3 {
  position: relative;
  top: 1.2em;
  text-align: center;
}

.cl-say-h1 {
  position: relative;
  top: .3em;
  font-size: 35px;
  text-align: center;
}

.clients {
  position: relative;
  bottom: 9em;
}

.main-pic {
  position: relative;
  top: 14.5em;
  width: 105px;
  height: 105px;
  padding: 10px;
  border: 3px solid #1644cc; 
  border-radius: 100px;
  margin: 0 auto;
}

.client-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.clients-text {
  position: relative;
  top: .5em;
  right: 6.7em;
  text-align: center;
  width: 20em;
}

.client-name {
  position: relative;
  right: 1.75em;
  width: 9em;
  text-align: center;
}

.sec-pic {
  position: relative;
  left: 15.5em;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.trd-pic {
  position: relative;
  top: 9em;
  left: 12.5em;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.frth-pic {
  position: relative;
  bottom: 9em;
  right: 16.5em;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.fth-pic {
  position: relative;
  top: 5.5em;
  right: 7.5em;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

/* SWIPER */
.swiper-button-next {
  right: 4em;
}

.swiper-button-prev {
 left: 4em;
}

.swiper-pagination {
  margin-bottom: 1em;
}


/* NEWSLETTER */
#newsletter {
  position: relative;
  top: 15.2em;
  height: 310px;
  width: 100%;
  background-color: #1644cc;
}

#news-h1 {
  position: relative;
  top: 1.2em;
  color: #fff;
  text-align: center;
  font-size: 35px;
  letter-spacing: .8px;
}

#sub-container {
  display: flex;
  position: relative;
  top: 4.5em;
  height: 4em;
  width: 30em;
  background-color: #61b0fb;
  margin: 0 auto;
  border-radius: 12px;
}

#sub-container input {
  margin-top: .3em;
  height: 80%;
  width: 66.3%;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  padding-left: .7em;
  border-radius: 12px 0px 0px 12px;
  border: none;
  border-right: 2px dashed;
}

input::placeholder {
  color: #fff;
}

input:focus {
  outline: none;
}

#inp-btn {
  position: relative;
  top: .4em;
  height: 3.1em;
  width: 8em;
  text-transform: uppercase;
  background-color: #1644cc;
  border-radius: 9px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .7px;
  margin: 0 auto;
  cursor: pointer;
}

#inp-btn:hover {
  background-color: #1c54ff;
}


/* FOOTER */
footer {
  display: flex;
  position: relative;
  top: 15.2em;
  background-color: #181818;
  color: #fff;
  height: 400px;
}

#foo-logo {
  position: relative;
  bottom: 3em;
  left: 3em;
}

#foo-container {
  display: flex;
}

.foo-txt {
  position: relative;
  top: 5em;
  left: 12em;
  height: 15em;
  margin-right: 8em;
}


/* PLANE PAGE */
#plane-page {
  display: flex;
  position: relative;
  top: 6.5em;
  margin: 0 auto;
  width: 90%;
  height: 410px;
}

#image-container {
  width: 50%;
}

#plane-page-img {
  position: relative;
  top: 2em;
  width: 600px;
}

#description-container {
  width: 50%;
  border-radius: 14px;
  background-color: #61b0fb3a;
}

#desc-content {
  position: relative;
  left: 1.6em;
}

#plane-page-h1 {
  text-transform: uppercase;
  letter-spacing: .7px;
  margin-bottom: -.5em;
}

#plane-page-h2 {
  font-size: 28px;
}

#plane-page-h3 {
  position: relative;
  top: .7em;
}

#plane-page-Mp {
  width: 75%;
}

#plane-page-ul {
  margin-top: -1.3em;
  margin-left: -1.2em;
}

#plane-page-ul li {
  line-height: 20px;
  font-size: 17px;
}

::marker {
  color: #1644cc;
  font-size: 24px;
}

.plane-btn {
  position: relative;
  left: 12.5em;
  bottom: 4em;
  width: 9em;
  height: 3em;
  border: 3px solid #1644cc;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
}

.plane-page-primaryB {
  background-color: #1644cc;
  color: #fff;
  margin-right: 1em;
}

.plane-page-secondB {
  background-color: transparent;
  color: #1644cc;
}

/* Alternatives */
#plane-page-alt {
  position: relative;
  top: 9em;
  width: 90%;
  margin: 0 auto;
}

#plane-page-alt h2 {
  margin-left: 1em;
}

#alt-container {
  position: relative;
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
  background-color: #61b0fb3a;
  height: 315px;
  border-radius: 12px;
}