html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 1000px;
  color: #181818;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  height: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);  
  z-index: 500;
  transition: all .2s ease-in-out;
}

header.sticky {
  background-color: #cee7ff;
}

#logo {
  width: 120px;
  position: relative;
  top: -1em;
  left: 2em;
  transition: left .3s ease-out;
}

#nav-list {
  display: flex;
  float: right;
  position: relative;
  top: .8em;
  right: 29em;
  list-style: none;
  transition: right .3s ease-out;
}

.nav-a {
  margin-right: 50px;
  text-decoration: none;
  color: #181818;
  font-size: 20px;
  font-weight: 500;
  transition: color .2s;
}

#basket {
  position: relative;
  float: right;
  top: 1.8em;
  left: 19.5em;
  transition: all .3s;
}

#nav-list a:hover {
  color: #1644cc;
}

#landing-hero {
  position: relative;
  height: 37.6em;
  background: linear-gradient(to bottom, #fff, #eeeeee);
  box-shadow: 0px 10px 10px 0px #eeeeee;
}

#title {
  position: relative;
  top: 2em;
  left: 1.5em;
  font-size: 60px;
  width: 7em;
  letter-spacing: 2px;
}

#title span {
  text-transform: uppercase;
  background: linear-gradient(to right, #1644cc, #61b0fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#short-desc {
  position: relative;
  top: 7.5em;
  left: 6em;
  width: 25em;
  background-color: #61b0fb3a;
  border-radius: 12px;
}

#short-desc p {
  position: relative;
  padding: .6em 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: .7px;
}

#landing-con {
  position: relative;
  top: 8.2em;
  left: 6em;
  width: 9em;
  height: 3.8em;
  background: #1644cc;
  border: none;
  box-shadow: -4px 6px 0px 0px #61b0fb;
  border-radius: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: all .2s;
  cursor: pointer;
}

#landing-con:active {
  box-shadow: none;
  transform:translate(-4px, 5px);
}

#plane {
  position: relative;
  float: right;
  right: 3em;
  bottom: 6em;
  width: 43em;
  rotate: 10deg;
}


#brief-hero {
  display: flex;
  position: relative;
  width: 82%;
  height: 10em;
  margin: 0 auto;
}

.icons {
  position: relative;
  top: 1.3em;
  border-radius: 12px;
  padding: 1.5em 1.6em;
  background-color: #1644cc;
}

.desc-box h3 {
  position: relative;
  left: .7em;
  top: -.1em;
  font-size: 23px;
}

.desc-box p {
  position: relative;
  top: -1.3em;
  left: 1em;
  width: 12em;
}

.support {
  position: relative;
  left: 6.8em;
}

.sup {
  position: relative;
  left: 6.8em;
}

.delivery {
  position: relative;
  left: 13.8em;
}
.del {
  position: relative;
  left: 13.8em;
}


/* MAIN */
main {
  height: 2600px;
  background: linear-gradient(to bottom, #eeeeee,
  #fff);
  box-shadow: 0px -10px 10px 0px #eeeeee;
}

#main-h1 {
  position: relative;
  top: 1.5em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 6px;
}

#collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: 5em;
  width: 82%;
  height: 640px;
  margin: 0 auto;
}

.plane-card {
  width: 15em;
}

.plane-img {
  width: 15em;
  height: 9.85em;
  background-color: #61b0fb3a;
  border-radius: 12px;
}

.plane-type {
  font-size: 23px;
  letter-spacing: .8px;
  margin-top: 0px;
  position: relative;
  top: 13px;
  text-align: center;
}

.plane-brand {
  text-align: center;
  margin-top: -12px;
  font-size: 17px;
  font-weight: 400;
}

.plane-price {
  text-align: center;
  font-size: 25px;
  margin-top: -4px;
}

.plane-desc {
  width: 100%; 
  margin-top: -4px;
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 1px;
}

#all-h3 {
  position: absolute;
  top: 33em;
  left: 47%;
  text-decoration: underline;
}

#all-h3:hover {
  text-decoration: none;
  cursor: pointer;
}


/* DESCRIPTION */
#description {
  display: flex;
  position: relative;
  top: 15em;
  width: 82%;
  height: 480px;
  background-color: #61b0fb3a;
  margin: 0 auto;
  border-radius: 22px;
}

#plane-2 {
  width: 35em;
  height: 21em;
  position: relative;
  top: 4.8em;
  rotate: -12deg;
}

#para-desc { 
  width: 50%;
}

#para-desc-h1 {
  position: relative;
  top: 1em;
  left: .9em;
  font-size: 40px;
  letter-spacing: 1.3px;
}

.qa-res {
  text-transform: uppercase;
  background: linear-gradient(to right, #1644cc, #61b0fb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: normal;
}

#para-desc-p {
  position: relative;
  top: 3em;
  left: 2.4em;
  font-size: 18px;
  width: 24em;
}

#para-desc button {
  position: relative;
  top: 6.8em;
  left: 5em;
  width: 9.5em;
  height: 4.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border: 4px solid #1644cc;
  border-radius: 12px;
  cursor: pointer;
}

#primary-btn {
  color: #fff;
  background-color: #1644cc;
  transition: all .2s ease-out;
}

#secondary-btn {
  margin-left: 2em;
  color: #1644cc;
  background-color: transparent;
  transition: all .2s ease-out;
}

#cloud-1 {
  position: absolute;
  height: 11em;
  width: 20em;
}

#cloud-2 {
  position: absolute;
  top: 19em;
  left: 17em;
  height: 10.5em;
  width: 19em;
}


/* TOP SELLERS */
#best-sell {
  position: relative;
  top: 23em;
  background-color: #eeeeee;
  width: 100%;
  height: 31.2em;
  box-shadow: 0px -10px 10px 0px #eeeeee;
}

#best-h1 {
  position: relative;
  top: 1.5em;
  font-size: 35px;
  letter-spacing: .7px;
  text-transform: uppercase;
  text-align: center;
}

#best-planes {
  display: flex;
  gap: 35px;
  position: relative;
  top: 4.5em;
  overflow-y: hidden;
  overflow-x: auto;
  width: 80%;
  margin: 0 auto;
}